Leason 1

In [ ]:
import pandas as pd


path = "C:/Users/HP/OneDrive/Desktop/Lang/pyth/private/excel/test1.csv"

data = pd.read_csv(path)
data.shape

0    24
1    30
2    25
Name: Age, dtype: int64

In [6]:
data['Age']

0    24
1    30
2    25
Name: Age, dtype: int64

In [8]:
data.Age

0    24
1    30
2    25
Name: Age, dtype: int64

In [9]:
data.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
data.columns
data.dtypes

Name    object
Age      int64
Add     object
dtype: object

Methods

In [12]:
data.head() # reading 5 rows
data.head(10) # reading 10 rows


data.tail() # reading 5 data from tail
data.tail(20) # reading data from the tail

     Name  Age  Add
0   Anish   24  TVM
1  Vishnu   30  KKD
2   jebin   25   KK

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Add     3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes